{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Books Manager{% endblock %}

{% block navbar %}
<div class="container">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Link</a></li>
  <li role="presentation"><a href="#">Link</a></li>
</ul>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Books List:</h1>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Price</th>
          <!--<th>Timestamp</th>-->
          <th>Requested by</th>
          <th>-</th>
        </tr>
      </thead>
      <tbody>
      {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>¥{{ book.price }}</td>
            <!--<td>{{ book.when_added }}</td>-->
            <td>{{ book.who_added }}</td>
            <td><a href="/delete/{{ book.id }}">Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <div class="alert alert-info" role="alert">
    <strong>total price = ¥{{ total_price }}</strong> < ¥100000
    </div>

    <hr>
    <h2>Add Book:</h2>

    <form action="/" method="post">
        {{ wtf.quick_form(form) }}
    </form>
</div>
{% endblock %}

<a href="https://github.com/msrks/flask_booklist">github</a> since 2018-01-19
